@import "~react-image-gallery/styles/scss/image-gallery.scss";
$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;



// .tableBox {
//   overflow-y: scroll;
//   width: 100%;
//   height: 100%;
//   margin-top: 20px;
// }

// .spinnerBox {
//   width: 100% !important;
//   height: 100% !important;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .spinner {
//   color: grey !important;
// }

// .singleRow {
//   width: 100%;
//   background: white;
//   display: flex;
//   justify-content: space-around;
//   border-bottom: 0.5px solid rgb(230, 230, 230);

//   &:hover {
//     background: lightgray;
//   }
// }

// .rowTextElement {
//   font-size: 14px;
//   width: 20%;
//   padding: 5px 0;
//   margin: 0 10px;
//   border-right: 0.5px solid rgba(160, 160, 160, 0.568);
// }

// .smallRowTextElement {
//   width: 5%;
// }

// .mediumRowTextElement {
//   width: 15%;
// }

// .bigRowTextElement {
//   width: 50%;
// }

// .tableHeader {
//   width: 100%;
//   display: flex;
//   justify-content: space-around;
//   background: rgb(211, 239, 255);
// }

// .header {
//   background: rgba(58, 78, 121, 0.473);

//   &:hover {
//     background: rgba(58, 78, 121, 0.473);
//   }
// }

// .headerElement {
//   font-size: 15px;
//   font-weight: bold;
// }

// .btnEdit {
//   font-weight: bold;
//   color: rgba(53, 53, 114, 0.514);
// }

// .btnDelete {
//   font-weight: bold;
//   color: rgba(109, 17, 17, 0.76);
// }

// .action {
//   cursor: pointer;
//   width: 30px;
// }

// .addNewBtn {
//   max-width: 200px;
//   height: 40px;
//   font-size: 17px;
//   background: rgba(54, 79, 107, 0.637);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   border-radius: 10px;
//   cursor: pointer;
//   padding: 10px;
//   margin: 5px 20px;
//   transition: 1s;

//   &:hover {
//     transition: 1s;
//     background: rgba(54, 79, 107, 0.349);
//   }
// }

// .deleteConfirmPopup {
//   width: 300px;
//   height: 100px;
//   padding: 20px;
//   border-radius: 10px;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   -webkit-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
//   -moz-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
//   box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
//   background: rgba(38, 83, 121, 0.9);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .deleteConfirmBox {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .deleteConfirmBtn {
//   color: black;
//   width: 30px;
//   height: 20px;
//   cursor: pointer;
//   margin: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 2px;
//   border: 0.5px solid rgba(197, 197, 197, 0.596);
// }

//=====

// .contacts {
// 	width: 100%;
// 	padding: 50px 20px;
// 	background: black;
// 	display: flex;
// 	align-items: flex-start;
// 	justify-content: center;
// }

// .contactsSx {
// 	width: 30%;
// }



// .ctitle {
// 	font-size: 70px;
// 	color: white;
// 	font-weight: bold;
// }

// .ccontent {
// 	font-size: 17px;
// 	color: white;
// }

// .nameLastName {
// 	width: 100%;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;

// }

// .formName,
// .formEmail,
// .formMessage {
// 	padding: 10px;
// 	background: black;
// 	border: 1px solid lightgrey;
// 	margin: 10px 0;
// 	outline: none;
// 	color: white;
// 	width: 100%;
// 	height: 65%;
// }

// .formInputBoxName {
// 	height: 80px;
// 	width: 49%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: flex-start;
// 	margin-bottom: 10px;
// }

// .formInputBoxMessage {
// 	height: 200px;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: flex-start;
// 	margin-bottom: 10px;
// }

// .formInputBoxMail {
// 	height: 80px;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: flex-start;
// 	margin-bottom: 10px;
// }

// .formMessage {
// 	vertical-align: top;
// }




//=========


.formElementsBox {
	overflow-y: scroll;
	width: 100%;
	height: 60vh;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
	-moz-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
	box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.adminForm {
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 20px 20px;
	margin: 2% 0;
}

.inputFieldsContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.css-2b097c-container {
	width: 100%;
}

.formTitle {
	font-size: 30px;
	margin: 10px 0;
	font-weight: bold;
}

.formButtonsHeader {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.backBtnBox {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	background: rgba(179, 179, 179, 0.432);
	color: black !important;
	padding: 10px;
	border-radius: 5px;

	&:hover {
		background: rgba(179, 179, 179, 0.623);
		color: black !important;

	}
}

.backBtnIco {
	color: rgb(59, 77, 104);
}

.removeAnswer {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-48%);
	right: -20px;
}

.ctaListBox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.ctaListElement {
	width: 35%;
	height: 70px;
	padding: 10%;
	margin: 5px;
	border: 1px solid rgb(71, 78, 109);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 15px;
}

.addAnswer {
	cursor: pointer;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;

	&:hover {
		transition: 1s;
		background: rgba(22, 46, 66, 0.575);
	}
}

.formName {
	width: 100%;
	border: 1px solid rgba(172, 172, 172, 0.719);
	padding: 5px;
	border-radius: 5px;
	outline: none;
	margin: 20px 0;
}

.inputFieldAnswer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5%;
	position: relative;

}

.formAnswer {
	margin: 10px 0;
}

.submitBtnRow {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;

	.submitBtn {
		width: 150px;
		height: 50px;
		margin: 20px;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: black;
		transition: .5s;
		border-radius: 10px;


		position: relative;

		.iconSubmit {

			pointer-events: none;
			position: absolute;
			top: 32%;
			right: 35px;
		}

		.submitBtnInput {
			background: transparent;
			border-radius: 5px;
			border: 1px solid rgba(172, 172, 172, 0.719) !important;
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			transition: .5s;


			&:hover {
				background: rgb(58, 68, 87);
				color: white;
			}
		}

		&:hover {
			transition: .5s;
			background: rgb(58, 68, 87);
			color: white;
			border: 1px solid white;
		}
	}
}

.submitToast {
	width: 80%;
	height: 80px;
	background: rgba(78, 99, 156, 0.5);
	border: 1px solid grey;
	color: black;
	position: fixed;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	transition: 1s;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hiddenInput {
	display: none;
}

.custom-classname.react-toggle--checked .react-toggle-track {
	background-color: #7692aa !important;
	outline: none !important;
	z-index: 9000 !important;

}

.react-toggle--checked {
	outline: none !important;
	z-index: 9000 !important;

}

.correctToggleLabel {
	width: 100px;
	height: 50px;
	background: rgba(83, 102, 128, 0.74);
	font-size: 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.react-toggle-thumb {
	outline: none !important;
	background-color: #497397 !important;
	border-color: #24384b !important;
	z-index: 9000 !important;

}

.error {
	color: red !important;
	width: 100%;
	height: 10%;
	font-size: 12px;
}

.selectFieldDisabled {
	width: 100% !important;
}