@import "~react-image-gallery/styles/scss/image-gallery.scss";
$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;



.mainBox {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}



.navigationElement {
  text-decoration: none !important;
  color: black !important;
  margin-bottom: 10px;

  &:hover {
    color: grey !important;
  }
}

.routerContainer {
  width: 80%;
  height: auto;

}

.folderIcon {
  color: rgba(71, 71, 116, 0.521);
  margin-right: 10px;
}

.activeIcon {
  color: rgba(45, 45, 109, 0.61);
  margin-right: 10px;

}

.activeNavigationElement {
  color: rgba(45, 45, 109, 0.61) !important;
}