@import "~react-image-gallery/styles/scss/image-gallery.scss";
$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;

.elementsBox {
  overflow-y: hidden;
  width: 100%;
  height: 60vh;
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
  -moz-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
  box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.tableBox {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.spinnerBox {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  color: grey !important;
}

.singleRow {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid rgb(230, 230, 230);

  &:hover {
    background: lightgray;
  }
}

.filterArrow {
  margin-left: 2%;
  font-size: 12px;
}

.rowTextElement {
  font-size: 12px;
  width: 20%;
  padding: 5px 10px;
  padding-left: 5px;
  padding-right: 0px;
  overflow: hidden;
  margin: 0 0;
  border-right: 0.5px solid rgba(160, 160, 160, 0.568);
}

.smallRowTextElement {
  width: 7%;
}

.mediumRowTextElement {
  width: 15%;
}

.bigRowTextElement {
  width: 50%;
}

.bigRowTextElementUserAnswers {
  width: 40%;
}

.tableHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: rgb(211, 239, 255);
}

.header {
  background: rgba(58, 78, 121, 0.473);

  &:hover {
    background: rgba(58, 78, 121, 0.473);
  }
}

.headerElement {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: rgba(58, 78, 121, 0.5);
  }
}

.btnEdit {
  font-weight: bold;
  color: rgba(53, 53, 114, 0.514) !important;

  &:hover {
    color: rgba(53, 53, 114, 0.801) !important;
  }
}



.btnDelete {
  font-weight: bold;
  color: rgba(109, 17, 17, 0.76);
}

.action {
  cursor: pointer;
  width: 30px;

}

.addNewBtn {
  height: 40px;
  font-size: 16px;
  color: rgba(29, 29, 29, 0.788) !important;
  background: rgba(54, 79, 107, 0.637);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 20px;
  transition: 1s;



  &:hover {
    transition: 1s;
    background: rgba(54, 79, 107, 0.349);
    color: rgba(29, 29, 29, 0.788) !important;

  }

  .addBtn {
    margin-left: 10px;
  }
}

.deleteConfirmPopup {
  width: 300px;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
  -moz-box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
  box-shadow: 0px 0px 7px 3px rgba(179, 179, 179, 0.6);
  background: rgba(38, 83, 121, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999 !important;

}

.deleteConfirmBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteConfirmBtn {
  color: black;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 0.5px solid rgba(197, 197, 197, 0.596);
}

.topSearch {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .tableTitle {
    font-size: 25px;

  }

  .tableSearchBar {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .cancelSearch {
      position: absolute;
      left: 20px;
      cursor: pointer;
      color: rgb(95, 113, 128);
    }

    .inputField {
      width: 50%;
      height: 100%;
      margin: 0 10px;
      padding: 5px !important;
      border-radius: 10px;
      border: 1px solid rgba(165, 165, 165, 0.5);
      outline: none;
    }



    .submitBtn {
      width: 20%;
      height: 100%;
      border-radius: 10px;
      margin: 0 10px;
      border: 1px solid rgba(165, 165, 165, 0.5);
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;

      &:hover {
        background: rgba(53, 53, 114, 0.514);
        transition: 1s;
      }
    }
  }
}

.highlightClass {
  // background: grey !important;
  margin: 0px !important;
  padding: 3px !important;

}