@import "variables";
@import "transitions";
@import "media_query";

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');


* {
  margin: 0;
  // font-family: "Raleway", sans-serif;
  font-family: "Lato",
    sans-serif;

  // font-family: 'Red Hat Text',
  //   sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: $link-color !important;

  &:hover {
    text-decoration: none;
    color: $link-color !important;
  }
}

.footer {
  width: 100%;
  height: 50px;
  background: grey;
}

.outerBox {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  overflow: auto;

  .innerBox {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}


//header
.headerMain {
  width: 100%;
  padding: 20px;
  background: lightgrey;
  display: flex;
  justify-content: space-between;

  .mainTitle {
    font-size: 30px;
    font-weight: bold;
    cursor: default
  }

  .userLogin {
    font-size: 30px;
    font-weight: bold;
    cursor: default
  }
}


// splash screen 
.splashScreen {
  width: 100%;
  height: 5000px;
  background: white;

  position: absolute;
  top: 0;
  z-index: 9999;

  .splashImg {
    width: 200px;
    height: 50px;
    background: lightskyblue;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
  }
}

/* Flash class and keyframe animation */
.flashit {
  color: #f2f;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

/* Pulse class and keyframe animation */
.pulseit {
  -webkit-animation: pulse linear 1s infinite;
  animation: pulse linear 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    width: 20%;
  }

  50% {
    width: 25%;
  }

  100% {
    width: 20%;
  }
}

@keyframes pulse {
  0% {
    width: 20%;
  }

  50% {
    width: 25%;
  }

  100% {
    width: 20%;
  }
}