@import "~react-image-gallery/styles/scss/image-gallery.scss";
$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;



.topSearch {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .tableTitle {
    font-size: 25px;

  }

  .tableSearchBar {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .inputField {
      width: 50%;
      height: 100%;
      margin: 0 10px;
      padding: 5px !important;
      border-radius: 10px;
      border: 1px solid rgba(165, 165, 165, 0.5);
      outline: none;
    }

    .submitBtn {
      width: 20%;
      height: 100%;
      border-radius: 10px;
      margin: 0 10px;
      border: 1px solid rgba(165, 165, 165, 0.5);
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;

      &:hover {
        background: rgba(53, 53, 114, 0.514);
        transition: 1s;
      }
    }
  }
}